body {
  margin: 0;
  padding: 0;
}

main {
  padding: 16px;
}

footer {
  padding: 24px 0 24px 0;
}

img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 2px solid white;
  border-radius: 0.5rem;
}

nav {
  border-bottom: 1px solid black;
  padding: 16px;
  background-color: #ff5a33;
  border-bottom: 1px solid #146152;
}
nav > a {
  color: white;
  font-weight: bold;
  line-height: 1.3rem;
}
nav > a:hover {
  text-decoration: underline;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

h1 {
  color: #146152;
}

footer {
  background-color: #b4cf66;
  padding: 2rem;
}

.recipes-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.recipe-boxes {
  background-color: rgb(220, 246, 246);
  border-radius: 0.5rem;
  transition: all 1s;
  border: 2px solid white;
}

.recipe-boxes:hover {
  border: 2px solid #44803f;
}
.recipe-boxes:hover img {
  animation-name: shake;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  /* 0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); } */
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
.recipe-title {
  color: #44803f;
}
.recipe-title:hover {
  color: #b4cf66;
  text-decoration: underline;
}

.ingredients-table tr:nth-child(2n) {
  background-color: lightgray;
}
